[user]
	name = ChengWang
	email = cheng.wang.801@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gui]
	recentrepo = /Users/ChengWang/XVim2
[color]
	ui = true
[alias]
	st=status
	ci=commit
